@import '../../styles/styleSetup.scss';

.container {
  background: $success;
  text-align: center;

  & > div {
    padding-top: 95px;
    padding-bottom: 85px;
  }

  .description {
    font-size: 34px;
    letter-spacing: -0.14px;
    line-height: 46px;
    white-space: pre-line;
  }

  .cta {
    margin-top: 50px;

    .button {
      display: inline-block;
      min-width: 197px;
    }
  }

  @media screen and (max-width: $tablet) {
    & > div {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .cta {
      margin-top: 30px;
    }
  }
}
