@charset "utf-8";

// configure style here

$dark-purple: #101060;
$dark-blue: #0060F6;
$blue: #48B5E7;
$light-blue: #BEE8FA;
$white: #ffffff;
$orange: #F9583E;
$black: #101010;
$light-beige: #F4F1E9;
$dark-grey: #202020;
$light-grey: #979797;

$primary: $dark-purple;
$link: $dark-blue;
$info: $blue;
$success: $light-blue;
$warning: $orange;
$danger: $light-beige;

$body-color: $white;

// navbar: https://bulma.io/documentation/components/navbar/#variables
$navbar-item-color: $primary;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;

$text: $black;
$text-light: $light-grey;
$text-strong: $black;
