@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

$dark-blue: #0065f2;
$blue: #bbd6fc;
$light-blue: #EEF6FF;
$dark-purple: #d2dffe;
$light-purple: #cddffc;
$white: #ffffff;

$primary: $dark-blue;
$link: $blue;
$info: $light-blue;
$success: $dark-purple;
$warning: $light-purple;

$body-color: $white;
