@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Muli:400,600|Prompt:400,600,700&display=swap');

// configure style here

$dark-purple: #101060;
$dark-blue: #0060f6;
$blue: #48b5e7;
$light-blue: #bee8fa;
$white: #ffffff;
$orange: #f9583e;
$black: #101010;
$light-beige: #f4f1e9;
$dark-grey: #202020;
$light-grey: #979797;

$primary: $dark-purple;
$link: $dark-blue;
$info: $blue;
$success: $light-blue;
$warning: $orange;
$danger: $light-beige;

// $body-color: $white;

$text: $black;
$text-light: $light-grey;
$text-strong: $black;

// navbar: https://bulma.io/documentation/components/navbar/#variables
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-background-color: $primary;
$navbar-height: 5rem;

$family-sans-serif: 'Muli', sans-serif;
$family-secondary: 'Prompt', sans-serif;
