@import '../../../styles/styleSetup.scss';

.timeline {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;

  .item {
    min-width: 122px;
    width: 122px;
    text-align: center;

    &.active {
      img {
        border-color: $primary;
      }
    }

    .date {
      font-weight: bold;
      font-size: 0.9em;
      margin-top: 5px;
      color: $text-strong;
    }

    img {
      width: 84px;
      height: 84px;
      border-radius: 100%;
      border: 3px solid $info;
    }
  }
}
