
@import "../../styles/variables.scss";

.icon {
    width: 1em;
    height: 1em;
}

.xxs {
    font-size: 14px;
}

.xs {
    font-size: 20px;
}

.sm {
    font-size: 26px;
}

.smd {
    font-size: 32px;
}

.md {
    font-size: 38px;
}

.lg {
    font-size: 44px;
}

.xl {
    font-size: 50px;
}

.xxxl {
    font-size: 78px;
}
