@import "../../styles/styleSetup.scss";

.hoverMenu {
  position: absolute;
  right: 0;
  left: 0;

  @include desktop() {
    position: static;
  }
}

.flex {
  display: flex;
  flex-flow: column nowrap;

  @include desktop() {
    flex-flow: row nowrap;
  }
}
