@import "../../styles/styleSetup.scss";

.hoverMenu {
  position: absolute;
  right: 0;
  left: 0;
  padding-right: 50px;

  @include desktop() {
    position: static;
    padding-right: 0;
  }
}

.spaceRight {
  @include touch() {
    margin-right: 50px;
  }
}

.navItem {
  margin: 16px 0;
  font-size: 28px;
  font-weight: bold;

  @include desktop() {
    margin: 0 25px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
  }
}
