@import '../../styles/styleSetup.scss';

.footerWrapper {
  padding-bottom: 0;
}

.footerInfoContainer {
  position: relative;
  width: $widescreen;
  max-width: 90%;
  border-top: 2px solid $black;
  background-color: $footer-background-color;
  padding: $footer-padding;
  margin: 0 auto;
  color: $black;
}
