@import '../../styles/styleSetup.scss';

.joinUsWrapper {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;

  > div {
    position: relative;
    z-index: 1;
  }

  img {
    height: 270px;
    padding: 20px;
    display: block;
    margin: 0 auto;

    @include tablet() {
      height: 385px;
    }

    @include desktop() {
      margin: auto;
      position: absolute;
      height: 100%;
      max-height: 385px;
      bottom: 50%;
      transform: translate(0, 50%);
      padding: 0;
      right: 0;
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
  flex-direction: column;

  .reversed & {
    justify-content: flex-end;
  }

  @include tablet() {
    flex-direction: row;
    width: auto;
  }

  a,
  button {
    margin-bottom: 20px;
    margin-left: 0;

    @include tablet() {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.reversed {
  text-align: right;

  img {
    margin-right: auto;
    margin-left: 0;
    left: 0;
    order: -1;
  }
}
