@import '../../styles/styleSetup.scss';

.tracklead {
  background-color: $orange;
}

.mentor {
  background-color: $blue;
}

.ourpeople {
  background-color: $dark-green;
}

.persontile {
  height: 300px;
}

.name {
  font-size: 20px;
}

.description {
  font-size: 15px;
  text-decoration: none !important;
}

.tiletext {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
  z-index: 1;
}

.personimage {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 60%;
  max-height: 80%;
  object-fit: contain;
}
