@import '../../styles/styleSetup.scss';

.customLink {
  &.light {
    color: $white;
  }

  &.light:hover {
    color: $warning;
  }
}

.text {
  padding-bottom: 3px;
  border-bottom: 1px solid;
  color: inherit;
}

.arrow {
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
}
